<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/compiled/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="../../js/controllers.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="employees.html">Employee List</a></li>
        <li><a href="employeesearch.html">Employee Search</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

<div ng-app="myApp">
  <div class="search-bar">
    Search: <input ng-model="query">
    Sort By: 
    <select ng-model="query">
      <option value="firstName">Alphabetical</option>
      <option value="department">Department</option>
    </select>
  </div>
    <div class="card-wrapper" ng-controller="EmployeeListCtrl">
    <ul>
      <li class="employeecard" ng-repeat="employee in employees | filter:query | orderBy:orderProp">
        <span>{{employee.firstName}} {{employee.lastName}}</span>
        <p>{{employee.role}}</p>
        <p>{{employee.level}}</p>
        <p>{{employee.department}}</p>
        <img class="employeephoto" ng-src="{{employee.employeePicture}}" />
      </li>
    </ul>
    </div>
  </div>
</body>
</html>